<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StepBlocker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StepBlockerMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>StepBlockerReport.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>StepWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
	</dict>
</dict>
</plist>
